.buildpath

.project

.settings/org.eclipse.php.core.prefs

#Игнорирование папки Phalcon, т.к. в репозитории она не нужна
/Phalcon/*
app/Model/Test/Table.php

app/Controllers/TestController.php

app/Controllers/TestController.php

app/View/test/index.phtml

app/View/pages/test/getlist.phtml

app/View/pages/test/index.phtml

app/View/pages/test/index.phtml

app/Controllers/TestController.php
